.img {
  width: 100%;
  margin-top: -28px;
  z-index: -1;
}

.div {
  width: 50%;
}

.title.blue {
  position: relative;
  top:-35%;
  left: 40%;
  color: hsl(198, 62%, 26%);
}

.title.green{
  position: relative;
  top:-35%;
  left: 38%;
  color: hsl(167, 40%, 24%);
}

.p.blue {
  position: relative;
  top:-32%;
  width:40%;
  text-align: center;
  line-height: 30px;
  left: 30%;
  color: hsl(198, 62%, 26%);
}

.p.green {
  position: relative;
  top:-32%;
  width:40%;
  text-align: center;
  line-height: 30px;
  left: 30%;
  color: hsl(167, 40%, 24%);
}

@media (max-width:700px) {

  .div {
    width: 100%;
    height: 530px;
  }

  .title.blue {
    top:-250px;
    left: 35%;
  }

  .p.blue {
    top:-230px;
  }


  .title.green {
    top:-250px;
    left: 35%;
  }

  .p.green {
    top:-230px;
  }

}


