@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

.card {
  width: 50%;
}

.title {
  position: relative;
  width: 40%;
  font-size: 40px;
  top:200px;
  left:200px;
  
  font-family: 'Fraunces', serif;
}

.parag {
    font-family: 'Barlow', sans-serif;
    position: relative;
    top:240px;
    left: 200px;
    width: 60%;
}

.p {
  position: relative;
  top:270px;
  left:200px;
  font-family: 'Fraunces';
  width: 120px;
}

.p:hover {
  text-decoration: underline;
  text-decoration-color: hsl(7, 99%, 70%);
  text-decoration-thickness: 8px;
  cursor: pointer;
}


@media (max-width:700px) {

  .card{
    width: 100%;
  }

  .title {
    width: 60%;
    text-align: center;
    left: 20%;
    top:0;
  }

  .parag {
    top:10%;
    width: 90%;
    left: 5%;
  }

  .p {
    top:15%;
    left: 40%;
  }
}