.footer {
  background-color: hsl(168, 34%, 41%);
  position: relative;
  top:-21px;
  height: 25em;
}

.h1 {
  position: relative;
  top: 4em;
  left: 45%;
  color: hsl(167, 40%, 24%);
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.nav {
  display: flex;
  position: relative;
  top: 9em;
  left: 40%;
}

.nav p {
  margin-left: 50px;
  color: hsl(167, 40%, 24%);
}

.nav p:hover {
  color: white;
  cursor: pointer;
}

.icons{
  display: flex;
  position: relative;
  top: 12em;
  left: 45%;
}

.icon {
  margin-left: 20px;
}

.icon:hover {
  background-color: white;
  filter: opacity(70%);
  cursor: pointer;
}

@media (max-width:700px) {

  .h1 {
    top:2em;
    left:40%;
  }

  .nav {
    left:10%;
    top:5em;

  }

  .nav p {
    font-size: 22px;
    margin-left: 80px;
  }

  .icons {
    top:8em;
    left: 40%;
  }
}